<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Car1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Car2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{153,1},{150,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Car3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{305,1},{150,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>car.png</string>
            <key>size</key>
            <string>{456,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34bc976b6f55f4fcb1442223a6175678:cff62e44cd2a7aaf1cabbd979b6c7d05:a7da72d8bec8bf41656f85e0523472ac$</string>
            <key>textureFileName</key>
            <string>car.png</string>
        </dict>
    </dict>
</plist>
