<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character_jump_left_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,131}</string>
                <key>spriteSourceSize</key>
                <string>{84,131}</string>
                <key>textureRect</key>
                <string>{{426,144},{84,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_jump_left_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,134}</string>
                <key>spriteSourceSize</key>
                <string>{80,134}</string>
                <key>textureRect</key>
                <string>{{154,151},{80,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_jump_left_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,134}</string>
                <key>spriteSourceSize</key>
                <string>{91,134}</string>
                <key>textureRect</key>
                <string>{{447,1},{91,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_jump_right_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,131}</string>
                <key>spriteSourceSize</key>
                <string>{84,131}</string>
                <key>textureRect</key>
                <string>{{540,1},{84,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_jump_right_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,134}</string>
                <key>spriteSourceSize</key>
                <string>{81,134}</string>
                <key>textureRect</key>
                <string>{{290,150},{81,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_jump_right_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,134}</string>
                <key>spriteSourceSize</key>
                <string>{90,134}</string>
                <key>textureRect</key>
                <string>{{559,87},{90,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_run_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,141}</string>
                <key>spriteSourceSize</key>
                <string>{74,141}</string>
                <key>textureRect</key>
                <string>{{295,1},{74,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_run_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,147}</string>
                <key>spriteSourceSize</key>
                <string>{74,147}</string>
                <key>textureRect</key>
                <string>{{219,1},{74,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_run_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,151}</string>
                <key>spriteSourceSize</key>
                <string>{74,151}</string>
                <key>textureRect</key>
                <string>{{1,154},{74,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_run_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,141}</string>
                <key>spriteSourceSize</key>
                <string>{74,141}</string>
                <key>textureRect</key>
                <string>{{371,1},{74,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_run_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,148}</string>
                <key>spriteSourceSize</key>
                <string>{74,148}</string>
                <key>textureRect</key>
                <string>{{143,1},{74,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_run_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,151}</string>
                <key>spriteSourceSize</key>
                <string>{77,151}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_standing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,151}</string>
                <key>spriteSourceSize</key>
                <string>{61,151}</string>
                <key>textureRect</key>
                <string>{{80,1},{61,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character.png</string>
            <key>size</key>
            <string>{672,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd75ae0fec95f47c94c8c20b5060e35f:419540b562794f21b1006ed59ea714cb:9d7b98458f0235176999d89cc8ded93d$</string>
            <key>textureFileName</key>
            <string>character.png</string>
        </dict>
    </dict>
</plist>
