<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boy_run01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,229}</string>
                <key>spriteSourceSize</key>
                <string>{93,229}</string>
                <key>textureRect</key>
                <string>{{0,0},{93,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy_run02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,206}</string>
                <key>spriteSourceSize</key>
                <string>{118,206}</string>
                <key>textureRect</key>
                <string>{{0,229},{118,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy_run03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,196}</string>
                <key>spriteSourceSize</key>
                <string>{118,196}</string>
                <key>textureRect</key>
                <string>{{0,435},{118,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy_run04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,183}</string>
                <key>spriteSourceSize</key>
                <string>{121,183}</string>
                <key>textureRect</key>
                <string>{{0,631},{121,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy_run05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,183}</string>
                <key>spriteSourceSize</key>
                <string>{122,183}</string>
                <key>textureRect</key>
                <string>{{0,814},{122,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy_run06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,196}</string>
                <key>spriteSourceSize</key>
                <string>{118,196}</string>
                <key>textureRect</key>
                <string>{{0,997},{118,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy_run07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,199}</string>
                <key>spriteSourceSize</key>
                <string>{118,199}</string>
                <key>textureRect</key>
                <string>{{0,1193},{118,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy_run08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,226}</string>
                <key>spriteSourceSize</key>
                <string>{92,226}</string>
                <key>textureRect</key>
                <string>{{0,1392},{92,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boy_run.png</string>
            <key>size</key>
            <string>{122,1618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ee99d53a012026ee1c4ace156661d42:98d96ff367427a1273d5cafd6afbfea3:9ba72034201914f286fd0f8609bcb820$</string>
            <key>textureFileName</key>
            <string>boy_run.png</string>
        </dict>
    </dict>
</plist>
