<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boy_jump_right01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,183}</string>
                <key>spriteSourceSize</key>
                <string>{105,183}</string>
                <key>textureRect</key>
                <string>{{0,180},{105,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy_jump_right02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,177}</string>
                <key>spriteSourceSize</key>
                <string>{112,177}</string>
                <key>textureRect</key>
                <string>{{0,0},{112,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy_jump_right03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,203}</string>
                <key>spriteSourceSize</key>
                <string>{115,203}</string>
                <key>textureRect</key>
                <string>{{0,573},{115,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy_jump_right04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,210}</string>
                <key>spriteSourceSize</key>
                <string>{111,210}</string>
                <key>textureRect</key>
                <string>{{0,779},{111,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy_jump_right05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,197}</string>
                <key>spriteSourceSize</key>
                <string>{115,197}</string>
                <key>textureRect</key>
                <string>{{0,373},{115,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy_jump_right06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,200}</string>
                <key>spriteSourceSize</key>
                <string>{115,200}</string>
                <key>textureRect</key>
                <string>{{115,373},{115,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy_jump_right07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,212}</string>
                <key>spriteSourceSize</key>
                <string>{115,212}</string>
                <key>textureRect</key>
                <string>{{111,779},{115,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy_jump_right08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,206}</string>
                <key>spriteSourceSize</key>
                <string>{121,206}</string>
                <key>textureRect</key>
                <string>{{115,573},{121,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy_jump_right09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,180}</string>
                <key>spriteSourceSize</key>
                <string>{112,180}</string>
                <key>textureRect</key>
                <string>{{112,0},{112,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy_jump_right10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,193}</string>
                <key>spriteSourceSize</key>
                <string>{112,193}</string>
                <key>textureRect</key>
                <string>{{105,180},{112,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boy_jump_right.png</string>
            <key>size</key>
            <string>{236,991}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38a2fc53f3c28189cd00a078759d683f:e21a6a28e8d9f6f2ba2774c1321f9055:d663273dc3547871fbee03a4fc250435$</string>
            <key>textureFileName</key>
            <string>boy_jump_right.png</string>
        </dict>
    </dict>
</plist>
