<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>girl_run01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,229}</string>
                <key>spriteSourceSize</key>
                <string>{92,229}</string>
                <key>textureRect</key>
                <string>{{0,0},{92,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_run02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,203}</string>
                <key>spriteSourceSize</key>
                <string>{118,203}</string>
                <key>textureRect</key>
                <string>{{0,229},{118,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_run03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,190}</string>
                <key>spriteSourceSize</key>
                <string>{119,190}</string>
                <key>textureRect</key>
                <string>{{0,432},{119,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_run04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,184}</string>
                <key>spriteSourceSize</key>
                <string>{122,184}</string>
                <key>textureRect</key>
                <string>{{0,622},{122,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_run05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,187}</string>
                <key>spriteSourceSize</key>
                <string>{121,187}</string>
                <key>textureRect</key>
                <string>{{0,806},{121,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_run06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,199}</string>
                <key>spriteSourceSize</key>
                <string>{118,199}</string>
                <key>textureRect</key>
                <string>{{0,993},{118,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_run07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,207}</string>
                <key>spriteSourceSize</key>
                <string>{118,207}</string>
                <key>textureRect</key>
                <string>{{0,1192},{118,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_run08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,229}</string>
                <key>spriteSourceSize</key>
                <string>{93,229}</string>
                <key>textureRect</key>
                <string>{{0,1399},{93,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>girl_run.png</string>
            <key>size</key>
            <string>{122,1628}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f1a5826894122e7c6b98d2a76ec39c9:54ddc79c5946efe052a99999c52cd264:849ca115918c4343557e063f5eeab223$</string>
            <key>textureFileName</key>
            <string>girl_run.png</string>
        </dict>
    </dict>
</plist>
