<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>girl_jump_right01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,183}</string>
                <key>spriteSourceSize</key>
                <string>{105,183}</string>
                <key>textureRect</key>
                <string>{{0,180},{105,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_jump_right02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,180}</string>
                <key>spriteSourceSize</key>
                <string>{108,180}</string>
                <key>textureRect</key>
                <string>{{108,0},{108,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_jump_right03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,206}</string>
                <key>textureRect</key>
                <string>{{0,574},{115,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_jump_right04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,210}</string>
                <key>spriteSourceSize</key>
                <string>{111,210}</string>
                <key>textureRect</key>
                <string>{{0,780},{111,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_jump_right05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,197}</string>
                <key>spriteSourceSize</key>
                <string>{115,197}</string>
                <key>textureRect</key>
                <string>{{0,374},{115,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_jump_right06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,200}</string>
                <key>spriteSourceSize</key>
                <string>{115,200}</string>
                <key>textureRect</key>
                <string>{{115,374},{115,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_jump_right07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,213}</string>
                <key>spriteSourceSize</key>
                <string>{115,213}</string>
                <key>textureRect</key>
                <string>{{111,780},{115,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_jump_right08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,206}</string>
                <key>spriteSourceSize</key>
                <string>{121,206}</string>
                <key>textureRect</key>
                <string>{{115,574},{121,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_jump_right09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,180}</string>
                <key>spriteSourceSize</key>
                <string>{108,180}</string>
                <key>textureRect</key>
                <string>{{0,0},{108,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_jump_right10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,194}</string>
                <key>spriteSourceSize</key>
                <string>{115,194}</string>
                <key>textureRect</key>
                <string>{{105,180},{115,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>girl_jump_right.png</string>
            <key>size</key>
            <string>{236,993}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2aa94dab99c1074b2a77530c659c5cb:71f642b5e1f17a3b11acff3923234abf:21b90d99ac9d7d6b556fda2a002621d7$</string>
            <key>textureFileName</key>
            <string>girl_jump_right.png</string>
        </dict>
    </dict>
</plist>
