<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>girl_jump_left01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,183}</string>
                <key>spriteSourceSize</key>
                <string>{105,183}</string>
                <key>textureRect</key>
                <string>{{0,180},{105,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_jump_left02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,180}</string>
                <key>spriteSourceSize</key>
                <string>{108,180}</string>
                <key>textureRect</key>
                <string>{{108,0},{108,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_jump_left03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,206}</string>
                <key>textureRect</key>
                <string>{{0,574},{115,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_jump_left04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,210}</string>
                <key>spriteSourceSize</key>
                <string>{111,210}</string>
                <key>textureRect</key>
                <string>{{0,780},{111,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_jump_left05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,197}</string>
                <key>spriteSourceSize</key>
                <string>{115,197}</string>
                <key>textureRect</key>
                <string>{{0,374},{115,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_jump_left06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,200}</string>
                <key>spriteSourceSize</key>
                <string>{115,200}</string>
                <key>textureRect</key>
                <string>{{115,374},{115,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_jump_left07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,213}</string>
                <key>spriteSourceSize</key>
                <string>{115,213}</string>
                <key>textureRect</key>
                <string>{{111,780},{115,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_jump_left08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,206}</string>
                <key>spriteSourceSize</key>
                <string>{121,206}</string>
                <key>textureRect</key>
                <string>{{115,574},{121,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_jump_left09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,180}</string>
                <key>spriteSourceSize</key>
                <string>{108,180}</string>
                <key>textureRect</key>
                <string>{{0,0},{108,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_jump_left10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,194}</string>
                <key>spriteSourceSize</key>
                <string>{115,194}</string>
                <key>textureRect</key>
                <string>{{105,180},{115,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>girl_jump_left.png</string>
            <key>size</key>
            <string>{236,993}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:064008f05df07672c62a0eff686e3dcc:ee1d81c74294dc30c9a0e5f105b26379:c63b392dd05f892d20963695e01a7894$</string>
            <key>textureFileName</key>
            <string>girl_jump_left.png</string>
        </dict>
    </dict>
</plist>
